<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/tl-photo-card/tl-photo-card.html">

<dom-module name="tl-photos-layout">
	<link rel="import" type="css" href="./photos.css">

	<template>
		<div class="Frame__body">
			<div class="Frame__row">
				<tl-photo-card></tl-photo-card>
				<tl-photo-card></tl-photo-card>
				<tl-photo-card></tl-photo-card>
				<tl-photo-card></tl-photo-card>
				<tl-photo-card></tl-photo-card>
				<tl-photo-card></tl-photo-card>
				<tl-photo-card></tl-photo-card>
				<tl-photo-card></tl-photo-card>
			</div>
		</div>
	</template>

	<script>
		/* global Polymer */

		'use strict';

		Polymer({
			is: 'tl-photos-layout'
		});

	</script>
</dom-module>
