<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/components/tl-AppBar/tl-AppBar.html">
<link rel="import" href="/components/tl-Pager/tl-Pager.html">
<link rel="import" href="/components/tl-Page/tl-Page.html">
<link rel="import" href="/components/tl-AccountBox/tl-AccountBox.html">
<link rel="import" href="/components/tl-DropDown/tl-DropDown.html">
<link rel="import" href="/components/tl-SideNav/tl-SideNav.html">
<link rel="import" href="/service/tl-Flux/tl-Flux.html">

<dom-module id="tl-index-layout">
	<link rel="import" type="css" href="./index.css">
	<template>
		<tl-AppBar id="appBar" href-home="#/home">
			<paper-button left noink on-click="toggleSideNav" id="sideNavToggler">
				<iron-icon icon="menu"></iron-icon>
			</paper-button>

			<tl-AccountBox right></tl-AccountBox>
		</tl-AppBar>

		<tl-SideNav id="sideNav">

			<div side class="Menu">
				<header class="Menu__header" on-click="toggleSideNav">
					<h2 class="Menu__title">メニュー</h2>
				</header>
				<ul dropdown-body class="Menu__items">
					<li class="Menu__item">
						<a href="#/photos">
									投稿した写真一覧
								</a>
					</li>
					<li class="Menu__item">
						<a href="#/plans">
									投稿したプラン一覧
								</a>
					</li>
				</ul>
			</div>

			<div main>
				<div style="display: flex; flex-direction:row; align-items: center;">
					<tl-pager id="pager">
						<tl-page name="login" href="/layouts/login/login.html" entry-tag="tl-login-layout"></tl-page>
						<tl-page name="home" href="/layouts/home/home.html" entry-tag="tl-home-layout"></tl-page>
						<tl-page name="photos" href="/layouts/photos/photos.html" entry-tag="tl-photos-layout"></tl-page>
					</tl-pager>
				</div>
			</div>

		</tl-SideNav>
	</template>
	<script src="./index.js"></script>
</dom-module>
