@import '../../definitions/md-style.scss';
@import './stylus/Menu.scss';

:host
{
    display: flex;
    flex-direction: column;

    align-items: stretch;
}
#sideNav
{
    flex: 1;
}
tl-pager
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: $md-grey-50;
}
[title] a
{
    text-decoration: none;
}
#sideNavToggler
{
    &[pressed]
    {
        background: rgba(#000, .1);
    }
}
