@import '../../definitions/md-style.scss';

:host
{
    font-size: $md-fontsize-body1;
    line-height: $md-lineheight-body1;

    display: inline-flex;
    flex-direction: row;

    cursor: pointer;

    align-items: center;
}
.email
{
    margin-right: 24px;

    @media #{$md-query-mobile}
    {
        display: none;
    }
}
#moreButton
{
    display: none;

    &[pressed]
    {
        background: rgba(#000, .1);
    }

    @media #{$md-query-mobile}
    {
        display: block;
    }
}
