<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/tl-Overlay/tl-PopupMenu.html">

<!-- <script src="/service/tl-Flux/Flux.js"></script> -->
<link rel="import" href="/service/tl-Flux/tl-Flux.html">

<dom-module id="tl-AccountBox-overlay">
	<template>
		<tl-popupmenu id="popup">
			<li on-click="_onLogoutButtonClick">
				ログアウト
			</li>
		</tl-popupmenu>
	</template>
	<script>
		Polymer({
			is: 'tl-AccountBox-overlay',


			open: function(targetNode) {
				this.$.popup.open(targetNode);
			},
			close: function() {
				this.$.popup.close();
			},


			_onLogoutButtonClick: function() {
				Flux.dispatchAction('logout');
			}
		});

	</script>
</dom-module>

<dom-module id="tl-AccountBox">
	<link rel="import" type="css" href="./tl-AccountBox.css">
	<template>
		<span class="email">[[email]]</span>
		<paper-button noink id="moreButton">
			<iron-icon icon="more-vert"></iron-icon>
		</paper-button>
	</template>
	<script>
		/* global Polymer */
		'use strict';

		var overlay = null;

		function initOverlay() {
			overlay = document.createElement('tl-AccountBox-overlay');
			document.body.appendChild(overlay);
		}

		Polymer({
			is: 'tl-AccountBox',
			properties: {
				isLogined: {
					type: Boolean
				},
				email: {
					type: String
				}
			},
			listeners: {
				'click': '_onClick'
			},


			ready: function() {
				if (!overlay) {
					initOverlay();
				}

				Flux.addStore('/Store/AuthStore.js', this.onAuthStoreUpdate.bind(this))
			},
			onAuthStoreUpdate: function(state) {
				this.isLogined = state.isLogined

				if (this.isLogined) {
					this.style.display = '';
					this.email = state.loginedEmail || '(dummy login)';
				} else {
					this.style.display = 'none';
					this.email = '';
					overlay.close();
				}
			},


			_onClick: function() {
				if (this.isLogined) {
					overlay.open(this);
				}
			}
		});

	</script>
</dom-module>
