@import "../../style/stylus/md-style.scss";

.PlanCreateForm {
	display: block;
	position: relative;
	background: $md-white;

	&.is-dragEnter {
		.PlanCreateForm__DDReceiver {
			display: flex;
		}
	}
}
.PlanCreateForm__Inner {
	position: relative;
	display: block;
}
.PlanCreateForm__Section {
	margin: $md-w-gutter-2 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}
.PlanCreateForm__Section {
	flex: 1;
}
.PlanCreateForm__SectionHeader {
	@include md-font-subhead();
	margin: $md-w-gutter-1 0;
}
.PlanCreateForm__SectionSubHeader {
	@include md-font-caption($md-grey-800);
	margin: $md-w-gutter-1 0;
}
.PlanCreateForm__Row {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: $md-white;

	> .Input {
		flex: 1;
	}
}
.PlanCreateForm__PhotoList--placeholder {
	display: block;
	position: relative;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	background: $md-white;
	text-align: center;
	z-index: 1;
}
.PlanCreateForm__PhotoList {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	position: relative;
	flex: 1;
	margin: -$md-w-gutter-2 0 $md-w-gutter-1;
	padding: $md-w-gutter-2 0 0;
	list-style: none;
	overflow: scroll;
	box-sizing: border-box;
}
.PlanCreateForm__PhotoItem {
	display: block;
	position: relative;
	width: 25%;
	height: 120px;
	padding: 2px;
	box-sizing: border-box;
	cursor: pointer;

	@media (max-width: 600px) {
		width: 40%;
	}
	@media (max-width: 480px) {
		width: 50%;
	}
	&.is-selected {
		.PlanCreateForm__PhotoImage {
			border: 5px solid $md-blue-600;
			transform: scale(0.9);
		}
		.PlanCreateForm__RemoveIcon {
			fill: $md-white;
			opacity: 1;
		}
		.PlanCreateForm__RemoveIconBackground {
			fill: $md-blue-600;
		}
	}
}
.PlanCreateForm__PhotoItemBase {
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color: $md-grey-200;
}
.PlanCreateForm__PhotoImage {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	transform: scale(1);
	transition: transform 200ms $ease-slide;
	will-change: transform;
}
.PlanCreateForm__RemoveIcon {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.5;
	fill: $md-black;
	transition: opacity 200ms $ease-slide,
	fill 200ms $ease-slide;

	&:hover {
		opacity: 1;
		fill: $md-white;

		.PlanCreateForm__RemoveIconBackground {
			fill: $md-blue-600;
		}
	}
}
.PlanCreateForm__RemoveIconBackground {
	fill: none;
	transition: fill 200ms $ease-slide;
}
.PlanCreateForm__SubmitButton {
	@include md-elevation-card();
	@include md-font-button();
	background: $md-primaryColor;
	color: $md-primaryTextColor;
	padding: $md-w-gutter-1 $md-w-gutter-2;
	line-height: 40px;
	min-height: 40px;
	min-width: 80px;
	box-sizing: border-box;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	margin-left: $md-w-gutter-1;
	transition: box-shadow 240ms $ease-slide,
	background 240ms $ease-slide;

	&[disabled] {
		background: $md-grey-400;
		box-shadow: md-shadow(0);
	}
}
.PlanCreateForm__DDReceiver {
	@include md-font-d1($md-grey-800);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $md-z-overlay;
	background: rgba($md-orange-300, 0.7);
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
