@import '../../definitions/md-style.scss';

:host
{
    display: inline-flex;

    cursor: pointer;
}
#normal
{
    position: relative;

    display: flex;
    flex-direction: row;

    align-items: stretch;
    justify-content: center;

    @media #{$md-query-mobile}
    {
        display: none;
    }
}
.list
{
    margin: 0;
    padding: 0;
}
label
{
    line-height: 48px;

    display: block;
    overflow: hidden;

    height: 48px;
    padding: 0 $md-w-gutter-3;

    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover
    {
        background: rgba(#000, .1);
    }
}
.radio
{
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 1.1em;
    height: 1.1em;
    margin: 0 $md-w-gutter-2 0 3px;

    transition: background-color .2s $ease-slide,
    border-color .2s $ease-slide,
    box-shadow .2s $ease-slide;
    vertical-align: middle;

    border: .2em solid transparent;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 0 .15em $md-grey-600;

    &[selected]
    {
        border-color: $md-white;
        background-color: $md-primaryColor;
        box-shadow: 0 0 0 .15em $md-primaryColor;
    }
}
.text
{
    vertical-align: middle;
}
#mobile
{
    display: none;

    min-width: 0;

    color: $md-primaryColor;

    &[pressed]
    {
        background: rgba(#000, .1);
    }
    &[focused]
    {
        font-weight: normal;
    }
    @media #{$md-query-mobile}
    {
        display: block;
    }
}
