<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>tl-Input</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="/components/tl-Input/tl-Input.html">
	<style>
		tl-input {
			margin: 8px;
		}
		
		section {
			margin: 80px 0;
		}

	</style>
</head>

<body>
	<section>
		<h3>normal &amp; normal with value</h3>
		<tl-Input label="Your Name"></tl-Input>
		<tl-Input label="Your Name" value="John Smith"></tl-Input>
	</section>
	<section>
		<h3>disabled &amp; disabled with value</h3>
		<tl-Input label="Your Name" disabled></tl-Input>
		<tl-Input label="Your Name" disabled value="John Smith"></tl-Input>
	</section>
	<section>
		<h3>no label &amp; no-label with value</h3>
		<tl-Input></tl-Input>
		<tl-Input value="John Smith"></tl-Input>
	</section>
	<section>
		<h3>custom type</h3>
		<tl-Input label="E-mail" type="email"></tl-Input>
		<tl-Input label="Password" type="password"></tl-Input>
		<tl-Input label="age" type="number"></tl-Input>
	</section>
	<section>
		<h3>block</h3>
		<tl-Input label="message" block></tl-Input>
	</section>
	<section>
		<h3>multiline</h3>
		<tl-Input label="description" multiline></tl-Input>
	</section>
</body>

</html>
