@import '../../definitions/md-style.scss';

:host
{
    font-size: $md-fontsize-body1;
    line-height: $md-lineheight-body1;

    position: relative;

    display: inline-block;

    box-sizing: border-box;

    cursor: text;
    transition: border-bottom-color .1s linear;
    vertical-align: bottom;

    color: inherit;
    border-bottom: 1px solid $md-grey-300;

    &[block]
    {
        display: block;

        width: auto;

        #input
        {
            width: 100%;
        }
    }
    &:hover
    {
        border-bottom-color: $md-grey-500;
    }
    &[disabled]
    {
        cursor: not-allowed;

        color: $md-grey-300;
        border-bottom-style: dashed;

        &:hover
        {
            border-bottom-color: $md-grey-300;
        }
    }
    &[focus]
    {
        .border
        {
            transform: scaleX(1);

            opacity: 1;
        }
        #label
        {
            transform: translateY(0px);
        }
    }
    &:not([value=''])
    {
        #label
        {
            transform: translateY(0px);
        }
    }
    &.is-focus-animation
    {
        .border
        {
            animation: Input-focus-border .24s $ease-slide forwards;
        }
    }
    &.is-blur-animation
    {
        .border
        {
            animation: Input-blur-border .3s $ease-slide forwards;
        }
    }
}
@keyframes Input-focus-border
{
    0%
    {
        transform: scaleX(0);

        opacity: 1;
    }
    100%
    {
        transform: scaleX(1);

        opacity: 1;
    }
}
@keyframes Input-blur-border
{
    0%
    {
        transform: scaleX(1);

        opacity: 1;
    }
    100%
    {
        transform: scaleX(1);

        opacity: 0;
    }
}
#label
{
    font: inherit;
    font-size: .875em;

    position: relative;

    display: block;

    transition: .2s $ease-slide;
    transform: translateY(28px);

    color: $md-grey-500;

    will-change: transform;

    &:empty
    {
        display: none;
    }
}
#input
{
    font: inherit;

    position: relative;

    display: block;

    width: 100%;
    padding: 0;

    cursor: inherit;

    color: inherit;
    border: none;
    outline: none;
    background: none;
}

.inner
{
    position: relative;
}
.border
{
    position: absolute;
    bottom: -1px;

    width: 100%;
    height: 2px;

    transform: scaleX(0);

    opacity: 0;
    background: $md-blue-500;

    will-change: animation;
}
