<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module name="tl-Input">
	<link rel="import" type="css" href="./tl-Input.css">
	<template>
		<span id="label">[[label]]</span>
		<div class="inner">
			<input id="input" type="[[type]]" value="{{value::input}}" disabled="[[disabled]]">
		</div>
		<div class="border"></div>
	</template>

	<script>
		/* global Polymer */

		'use strict';

		Polymer({
			is: 'tl-Input',
			properties: {
				type: {
					type: String,
					value: 'text',
					reflectToAttribute: true
				},
				label: {
					type: String,
					value: '',
					reflectToAttribute: true
				},
				focus: {
					type: Boolean,
					value: false,
					reflectToAttribute: true
				},
				value: {
					type: String,
					value: '',
					reflectToAttribute: true,
					notify: true
				},
				disabled: {
					type: Boolean,
					value: false,
					reflectToAttribute: true,
					observer: '_onDisabledChanged'
				}
			},
			_transitionTimerID: null,
			listeners: {
				'click': '_onClick'
			},
			ready: function() {
				this.$.input.addEventListener('focus', this._onFocus.bind(this));
				this.$.input.addEventListener('blur', this._onBlur.bind(this));
			},


			_onClick: function() {
				this.$.input.focus();
			},
			_onFocus: function() {
				this.focus = true;

				this.startFocusAnimation();
			},
			_onBlur: function() {
				this.focus = false;
				this.startBlurAnimation();
			},
			_onDisabledChanged: function() {
				if (this.disabled) {
					this.tabindex = -1;
				}
			},


			startFocusAnimation: function() {
				if (this._transitionTimerID) {
					clearTimeout(this._transitionTimerID);
					this.classList.remove('is-blur-animation');
				}

				this.classList.add('is-focus-animation');
				this._transitionTimerID = setTimeout(this.stopFocusAnimation.bind(this), 300);

			},
			stopFocusAnimation: function() {
				this.classList.remove('is-focus-animation');
				this._transitionTimerID = null;
			},
			startBlurAnimation: function() {
				if (this._transitionTimerID) {
					clearTimeout(this._transitionTimerID);
					this.classList.remove('is-focus-animation');
				}

				this.classList.add('is-blur-animation');
				this._transitionTimerID = setTimeout(this.stopBlurAnimation.bind(this), 300);
			},
			stopBlurAnimation: function() {
				this.classList.remove('is-blur-animation');
				this._transitionTimerID = null;
			},
		});

	</script>
</dom-module>
