@import '../../definitions/md-style.scss';

:host
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: $md-w-gutter-2 0;

    @include md-elevation-card();

    &.is-image-loading
    {
        #img
        {
            animation: none;

            opacity: 0;

            filter: greyscale(100%);
        }
    }
}

#img
{
    position: absolute;

    width: 100%;

    transition: .3s ease;
    animation: photo-card-fade-in .8s ease-in forwards;

    opacity: 1;

    will-change: opacity, filter;
}
@keyframes photo-card-fade-in
{
    0%
    {
        opacity: 0;

        filter: grayscale(100%);
    }
    40%
    {
        opacity: 1;

        filter: grayscale(100%);
    }
    100%
    {
        opacity: 1;

        filter: grayscale(0%);
    }
}
.texts
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    padding: $md-w-gutter-1 $md-w-gutter-3;

    background: rgba(#fff, .9);
}
.location,
.url
{
    margin: $md-w-gutter-1 0;
    padding: 0;
}
