@import "../../style/stylus/md-style.scss";

.PlanCreatePage {
	background: $md-white;

	&.is-dragEnter {
		.PlanCreatePage__DDReceiver {
			display: flex;
		}
	}
}
.PlanCreatePage__Inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	@media #{$md-query-mobile} {
		display: block;
	}
}
.PlanCreatePage__Section {
	padding: $md-w-gutter-2;
	box-sizing: border-box;
	border-bottom: 1px solid $md-grey-200;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}
.PlanCreatePage__Section--flex {
	flex: 1;
}
.PlanCreatePage__SectionHeader {
	@include md-font-subhead();
	margin: $md-w-gutter-1 0;
}
.PlanCreatePage__SectionSubHeader {
	@include md-font-caption($md-grey-800);
	margin: $md-w-gutter-1 0;
}
.PlanCreatePage__PhotoList {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	position: relative;
	flex: 1;
	margin: $md-w-gutter-1 0;
	padding: 0;
	list-style: none;
	overflow: scroll;
	padding: 0;
	box-sizing: border-box;
}
.PlanCreatePage__PhotoItem {
	display: block;
	position: relative;
	width: 12.5%;
	height: 120px;
	padding: 2px;
	box-sizing: border-box;
	cursor: pointer;

	@media (max-width: 780px) {
		width: 16.6666666%;
	}
	@media (max-width: 600px) {
		width: 20%;
	}
	@media (max-width: 480px) {
		width: 25%;
	}
	&.is-selected {
		.PlanCreatePage__PhotoImage {
			border: 5px solid $md-blue-600;
			transform: scale(0.9);
		}
		.PlanCreatePage__RemoveIcon {
			fill: $md-white;
			opacity: 1;
		}
		.PlanCreatePage__RemoveIconBackground {
			fill: $md-blue-600;
		}
	}
}
.PlanCreatePage__PhotoItemBase {
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color: $md-grey-200;
}
.PlanCreatePage__PhotoImage {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	transform: scale(1);
	transition: transform 200ms $ease-slide;
	will-change: transform;
}
.PlanCreatePage__RemoveIcon {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.5;
	fill: $md-black;
	transition: opacity 200ms $ease-slide,
	fill 200ms $ease-slide;

	&:hover {
		opacity: 1;
		fill: $md-white;

		.PlanCreatePage__RemoveIconBackground {
			fill: $md-blue-600;
		}
	}
}
.PlanCreatePage__RemoveIconBackground {
	fill: none;
	transition: fill 200ms $ease-slide;
}
.PlanCreatePage__Row {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: $md-white;

	> .Input {
		flex: 1;
	}
	@media #{$md-query-mobile} {
		display: block;

		> .Input {
			display: block;
			width: 100%;
		}
	}
}
.PlanCreatePage__SubmitButton {
	@include md-elevation-card();
	@include md-font-button();
	background: $md-primaryColor;
	color: $md-primaryTextColor;
	padding: $md-w-gutter-1 $md-w-gutter-2;
	line-height: 44px;
	min-height: 44px;
	min-width: 88px;
	box-sizing: border-box;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	margin-left: $md-w-gutter-1;

	@media #{$md-query-mobile} {
		display: block;
		width: 100%;
		margin: $md-w-gutter-2 0;
	}
}
.PlanCreatePage__DDReceiver {
	@include md-font-d1($md-grey-800);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $md-z-overlay;
	background: rgba($md-orange-300, 0.7);
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
