@import "../../style/stylus/md-style.scss";

.Page {
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	width: 100%;
	height: 100%;
	background: $md-white;
	will-change: opacity;

	&.--enter {
		animation: page-fadeIn 0.24s $ease-slide forwards;
	}
	&.--leave {
		animation: page-fadeOut 0.24s $ease-slide forwards;
	}
}

@keyframes page-fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes page-fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
