<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="tl-SideNav">
	<link rel="import" type="css" href="./tl-SideNav.css">
	<template>
		<div id="side">
			<content select="[side]"></content>
		</div>
		<div id="main">
			<content select="[main]"></content>
		</div>
		<div id="shadow" on-click="toggle">

		</div>
	</template>

	<script>
		(function() {
			/* global Polymer */

			'use strict';

			Polymer({
				is: 'tl-SideNav',
				properties: {
					isOpen: {
						type: Boolean,
						value: false,
						reflectToAttribute: true,
						readOnly: true,
						observer: '_onIsOpenChange'
					},
					locked: {
						type: Boolean,
						value: false,
						reflectToAttribute: true,
						observer: '_onLockedChanged'
					}
				},
				_w: 0,
				_x: 0,
				_dx: 0,
				_isFlick: false,
				_isRequestedFlickUpdate: false,
				_transitionTimerID: null,
				_boundUpdateFlick: null,
				listeners: {
					'track': '_onTrack'
				},


				ready: function() {
					window.addEventListener('resize', this.updateSideNavWidth.bind(this));

					this._boundUpdateFlick = this._updateFlick.bind(this);
					this.setScrollDirection('x');
				},
				attached: function() {
					this.update();
				},


				// lock


				_onLockedChanged: function() {
					if (this.locked && this.isOpen) {
						this.close(true);
					}
				},


				// flick


				_onTrack: function(ev, detail) {
					switch (detail.state) {
						case 'start':
							if (this.locked ||
								(!this.isOpen && detail.x > 60)) return;

							this._isFlick = true;
							this.classList.add('is-flick');

							if (!this._sideNavWidth) {
								this.updateSideNavWidth();
							}
							break;

						case 'end':
							if (!this._isFlick) return;

							this._isFlick = false;
							this._isRequestedFlickUpdate = false;
							this.classList.remove('is-flick');

							if ((!this.isOpen && detail.dx > 40) ||
								(this.isOpen && detail.dx < -40)) {
								this.toggle();

							} else {
								this.$.side.style.transform =
									this.$.side.style.webkitTransform =
									'translateX(' + this._x + 'px)';
							}
							break;

						case 'track':
							if (!this._isFlick) return;

							this._dx = detail.dx;
							this.requestFlickUpdate()
							break;
					}
				},
				requestFlickUpdate: function() {
					if (this._isRequestedFlickUpdate) return;

					this._isRequestedFlickUpdate = true;
					requestAnimationFrame(this._boundUpdateFlick);
				},
				_updateFlick: function() {
					if (!this._isRequestedFlickUpdate) return;

					var x = Math.max(Math.min(this._w, this._x + this._dx), 0),
						r = 0.7 * Math.max(Math.min(x / this._w, 1), 0);

					this._isRequestedFlickUpdate = false;
					this.$.shadow.style.opacity = r;
					this.$.side.style.transform =
						this.$.side.style.webkitTransform = 'translateX(' + x + 'px)';
				},


				// open / close transition


				open: function(flagForce) {
					if (this.locked && !flagForce) return;

					this._setIsOpen(true);
				},
				close: function(flagForce) {
					if (this.locked && !flagForce) return;

					this._setIsOpen(false);
				},
				toggle: function(flagForce) {
					this.isOpen ? this.close(flagForce) : this.open(flagForce);
				},
				_onIsOpenChange: function() {
					this.update();

					if (this.locked) return;

					if (this.isOpen) {
						this.startOpeningAnimation();
					} else {
						this.startClosingAnimation();
					}
				},
				update: function() {
					if (!this._w) {
						this.updateSideNavWidth();
					}

					this._x = this.isOpen ? this._w : 0;

					this.$.side.style.transform =
						this.$.side.style.webkitTransform = 'translateX(' + this._x + 'px)';
					this.$.shadow.style.opacity = '';
				},
				updateSideNavWidth: function() {
					this._w = this.$.side.getBoundingClientRect().width;
				},


				// animation

				startOpeningAnimation: function() {
					if (this._transitionTimerID) {
						clearTimeout(this._transitionTimerID);

						this.classList.remove('is-closing');
					}

					this.classList.add('is-opening');

					setTimeout(function() {
						this.classList.add('is-opened');
						this.classList.remove('is-opening');
					}.bind(this), 0);

					setTimeout(function() {
						window.dispatchEvent(new CustomEvent('resize'));
					}, 250);
				},

				startClosingAnimation: function() {
					if (this._transitionTimerID) {
						clearTimeout(this._transitionTimerID);

						this.classList.remove('is-opening');
						this.classList.add('is-opened');
					}

					this.classList.remove('is-opened');
					this.classList.add('is-closing');

					this._transitionTimerID = setTimeout(this.stopClosingAnimation.bind(this), 250);
				},
				stopClosingAnimation: function() {
					this.classList.remove('is-closing');
					this._transitionTimerID = null;

					window.dispatchEvent(new CustomEvent('resize'));
				}
			});

		})()

	</script>
</dom-module>
