@import '../../definitions/md-style.scss';

$w-side: 240px;
:host
{
    position: relative;

    display: block;

    &[is-open],
    {
        #main
        {
            left: $w-side;
        }
    }
}
#side
{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -$w-side;

    overflow: auto;

    box-sizing: border-box;
    width: $w-side;
    height: 100%;

    transition: transform .25s $ease-slide;
    transform: translateX(-$w-side);

    will-change: transform;
}
#main
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    height: 100%;

    transition: left .25s $ease-slide;

    will-change: left;
}
#shadow
{
    position: absolute;
    z-index: $md-z-navDrawer - 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    cursor: pointer;
    transition: opacity .35s $ease-slide;

    opacity: 0;
    background: #000;

    will-change: opacity;
}
// @media #{$md-query-tablet}
// {
#shadow
{
    position: fixed;
}
#side
{
    position: fixed;

    @include md-elevation-navDrawer();
}
:host
{
    &[is-open]
    {
        #main
        {
            z-index: 1;
            left: 0;
        }
    }
    &.is-flick
    {
        #shadow
        {
            display: block;

            transition: opacity 0s;
        }
        #side
        {
            transition: transform 0s;
        }
    }
    &.is-opening
    {
        #shadow
        {
            display: block;
        }
    }
    &.is-opened
    {
        #shadow
        {
            display: block;

            opacity: .7;
        }
    }
    &.is-closing
    {
        #shadow
        {
            display: block;

            opacity: 0;
        }
    }
}
// }
@keyframes Sidenav-opening-shadow
{
    100%
    {
        opacity: .7;
    }
}
@media #{$md-query-mobile-portrait}
{
    #side
    {
        left: calc(-100% + 64px);

        width: calc(100% - 64px);
    }
}
