@import '../../definitions/md-style.scss';

$background-normal: transparent;
$foreground-normal: $md-primaryColor;
$background-selected: rgba(#000, .1);
$foreground-selected: inherit;
$background-hover: rgba(#000, .05);

:host
{
    display: flex;
    flex-direction: row;

    margin: 0 $md-w-gutter-1/4;

    align-items: stretch;
    justify-content: center;

    &[selected]
    {
        #base
        {
            color: $foreground-selected;
            background: $background-selected;
        }
    }
}

#base
{
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: $md-w-gutter-1;

    cursor: pointer;
    user-select: none;

    color: $foreground-normal;
    border-radius: 4px;
    background: $background-normal;

    align-items: center;
    justify-content: center;

    &:hover
    {
        background: $background-hover;
    }
}
