@import '../../../definitions/md-style.scss';

.Card
{
    display: block;

    box-sizing: border-box;
    margin: $md-w-gutter-1 0;
    padding: $md-w-gutter-1 / 2 0;

    border-radius: 2px;
    background: $md-white;
    box-shadow: 0 1px 4px rgba(#000, .3);
}
.Card-flex
{
    @extend .Card;
    flex: 1;
}
.Card-title
{
    margin: 0 0 $md-w-gutter-1;
    padding: $md-w-gutter-1 $md-w-gutter-2;

    border-bottom: 1px solid $md-grey-200;

    @include md-font-body1($md-grey-600);
}
.Card-row
{
    position: relative;

    padding: $md-w-gutter-1 $md-w-gutter-2;
}
