@import '../../definitions/md-style.scss';

$h-Chip: 32px;
.Chips
{
    line-height: $h-Chip + $md-w-gutter-1;

    position: relative;

    display: block;
    overflow: scroll;

    box-sizing: border-box;
    width: 100%;
    min-height: $h-Chip + $md-w-gutter-1;
    margin: 0;
    padding: 0 $md-w-gutter-1;

    white-space: nowrap;

    background: $md-white;
}
.Chips-inline
{
    display: inline-block;

    cursor: pointer;

    @include md-elevation-card();

    &.is-hide
    {
        visibility: hidden;
    }
}
.Chip
{
    line-height: $h-Chip;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    height: $h-Chip;
    margin: 0 $md-w-gutter-1/4;
    padding: 0 $md-w-gutter-2;

    list-style: none;

    border-radius: $h-Chip/2;
    background: $md-grey-200;
}
.Chip-text
{
    font-size: .75rem;

    color: $md-grey-800;
}
