<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>tl-Pager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
	<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
	<link rel="import" href="/bower_components/paper-button/paper-button.html">
	<link rel="import" href="/components/tl-Pager/tl-Pager.html">
	<link rel="import" href="/components/tl-Page/tl-Page.html">
	<style>
		tl-pager {
			position: relative;
			display: block;
			width: 400px;
			height: 200px;
			border: 1px solid #444;
		}
	</style>
</head>

<body>
	<p>
		<paper-button onclick="show(0);">page1</paper-button>
		<paper-button onclick="show(1);">page2</paper-button>
	</p>

	<tl-Pager selected="page1">
		<tl-page href="./page1.html" name="page1"></tl-page>
		<tl-page href="./page2.html" name="page2"></tl-page>
	</tl-Pager>

	<script>
		function show(name) {
			document.querySelector('tl-pager').selected = name;
		}
	</script>
</body>

</html>
