<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module name="tl-home-layout">
	<link rel="import" type="css" href="./home.css">

	<template>
		<header class="Frame__header">
			<h2 class="Frame__title">
				ホーム
			</h2>
		</header>
		<div class="Frame__body">
			<div class="Frame__row">
				<div class="Card">
					<h3 class="Card-title">
						ホーム画面
					</h3>
					<div class="Card-row">

					</div>
				</div>
			</div>
		</div>
	</template>

	<script>
		/* global Polymer */

		'use strict';

		Polymer({
			is: 'tl-home-layout'
		});

	</script>
</dom-module>
