<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/tl-i18n/tl-i18n.html">

<dom-module name="tl-home-layout">
	<link rel="import" type="css" href="./home.css">

	<template>
		<header class="Frame__header">
			<h2 class="Frame__title">
				<tl-i18n id="home.name"></tl-i18n>
			</h2>
		</header>
		<div class="Frame__body">
			<div class="Frame__row">
				KPIなどを配置予定。
			</div>
		</div>
	</template>

	<script>
		/* global Polymer */

		'use strict';

		Polymer({
			is: 'tl-home-layout'
		});

	</script>
</dom-module>
