<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/tl-DropDownItem/tl-DropDownItem.html">

<dom-module id="tl-DropDown">
	<link rel="import" type="css" href="./tl-DropDown.css">
	<template>
		<content select="tl-DropDownItem"></content>
	</template>

	<script>
		(function() {
			/* global Polymer */

			'use strict';

			Polymer({
				is: 'tl-DropDown',
				listeners: {
					'click': 'update'
				},


				ready: function() {
					window.addEventListener('resize', function() {
						this.update();
					}.bind(this));
				},
				attached: function() {
					this.async(function() {
						this.update()
					});
				},


				update: function() {
					var $children = this.children,
						y = 0,
						$child, i;

					for (i = 0; i < $children.length; i++) {
						$child = $children[i];
						$child.update();
						$child.style.transform = 'translate(0, ' + y + 'px)';
						y += $child.height;
					}
				}
			});
		})();

	</script>
</dom-module>
