<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>tl-AppBar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="/components/tl-DropDownItem/tl-DropDownItem.html">
</head>

<body>
	<tl-DropDownItem>
		<span dropdown-header>tl-DropDown</span>
		<ul dropdown-body>
			<li>item1</li>
			<li>item2</li>
			<li>item3</li>
		</ul>
	</tl-DropDownItem>
</body>

</html>
