@import '../../definitions/md-style.scss';

:host
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;

    &.is-opening
    {
        #body
        {
            animation: DropDownItem-opening-body .2s $ease-slide forwards;
        }
    }
    &[is-open]
    {
        #body
        {
            opacity: 1;
        }
    }
    &.is-closing
    {
        #body
        {
            animation: DropDownItem-closing-body .2s $ease-slide forwards;
        }
    }
}

#header
{
    position: relative;
    right: 0;
    left: 0;

    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#body
{
    position: absolute;
    left: 0;

    width: 100%;

    opacity: 0;

    will-change: opacity;
}
@keyframes DropDownItem-opening-body
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes DropDownItem-closing-body
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
