@import '../../../definitions/md-style.scss';

.Ranking
{
    position: relative;

    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    @include md-font-body1();

    td,
    th
    {
        line-height: 36px;

        padding-right: $md-w-gutter-1;
    }
}
.Ranking-header
{
    th
    {
        font-family: $md-fontfamily;
        font-size: $md-fontsize-body1;
        font-weight: $md-fontweight-light;

        text-align: left;
        white-space: nowrap;

        color: $md-grey-600;
    }

    .Ranking-graph
    {
        font-size: 0;
    }
}

//@TODO dirty hack?
.Ranking-day,
.Ranking-count
{
    width: 1px;

    table-layout: fixed;

    white-space: nowrap;
}
.Ranking-graph-bar
{
    padding-right: 0;
}
.Ranking-graph-bar
{
    font-size: 0;

    position: relative;

    display: inline-block;

    width: 100%;
    height: $md-w-gutter-2;

    vertical-align: middle;

    background: $md-blue-200;
}
.Ranking-hidden
{
    td,
    th
    {
        font-size: 0;
        line-height: 0;

        position: relative;

        overflow: hidden;

        height: 0;

        table-layout: fixed;
    }
}
