@import '../../definitions/md-style.scss';

:host
{
    position: fixed;
    z-index: $md-z-overlay;
    top: 0;
    left: 0;

    display: none;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: $md-w-gutter-3;

    background: rgba(#000, .7);

    align-items: center;
    justify-content: center;

    &.is-opening
    {
        display: flex;

        animation: Dialog-opening-dropshadow .26s $ease-slide forwards;

        .card
        {
            animation: Dialog-opening-card .26s $ease-slide forwards;
        }
    }
    &[is-open]
    {
        display: flex;
    }
    &.is-closing
    {
        display: flex;

        animation: Dialog-closing-dropshadow .35s $ease-slide forwards;

        .card
        {
            animation: Dialog-closing-card .35s $ease-slide forwards;
        }
    }
}
.card
{
    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 50%;
    max-width: 100%;

    border-radius: 2px;
    background: $md-grey-50;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);

    will-change: animation;
    @include md-elevation-dialog();
    @include md-font-body1();
}
.card__header
{
    margin: $md-w-gutter-2 0 $md-w-gutter-1;
    padding: 0 $md-w-gutter-3;

    order: 1;
}
.card__title
{
    font: inherit;
    font-size: 1.125em;
    font-weight: normal;

    margin: 0;
}
.card__body
{
    overflow: auto;

    max-height: 60vh;
    margin: 0;
    padding: 0;

    list-style: none;

    order: 2;
}
.card__footer
{
    margin: $md-w-gutter-1 0;
    padding: 0 $md-w-gutter-1;

    text-align: right;

    order: 3;
}
::content
{
    paper-button[action],
    button[action]
    {
        font-size: .875em;

        min-width: 0;
        padding: $md-w-gutter-1/2 $md-w-gutter-2;

        color: $md-primaryColor;

        &[pressed]
        {
            background: rgba(#000, .1);
        }
    }
}


@keyframes Dialog-opening-card
{
    0%
    {
        transform: scale(.8);

        opacity: 0;
    }
    100%
    {
        transform: scale(1);

        opacity: 1;
    }
}
@keyframes Dialog-closing-card
{
    0%
    {
        transform: translateY(0);

        opacity: 1;
    }
    100%
    {
        transform: translateY(30px);

        opacity: 0;
    }
}
@keyframes Dialog-opening-dropshadow
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes Dialog-closing-dropshadow
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
