<script>
	(function(kn) {
		'use strict';

		kn.KNOverlayDelegate = {
			/**
			 * openアニメーション開始時に呼ばれる。
			 * アニメーションの継続時間(ms)を返す
			 *
			 * @return {number} アニメーション継続時間
			 */
			startOpeningAnimation: function() {
				return 0;
			},

			/**
			 * openアニメーション終了時に呼ばれる
			 */
			endOpeningAnimation: function() {},

			/**
			 * closeアニメーション開始時に呼ばれる
			 * アニメーションの継続時間(ms)を返す
			 *
			 * @return {number} アニメーション継続時間
			 */
			startClosingAnimation: function() {
				return 0;
			},

			/**
			 * closeアニメーション終了時に呼ばれる
			 */
			endClosingAnimation: function() {},
		};


		var Z_BASE = 9800,
			zCounter = 0;


		kn.KNOverlayBehaviorImpl = {
			properties: {
				isOpen: {
					type: Boolean,
					value: false,
					readonly: true,
					reflectToAttribute: true
				},
				delegate: {
					type: Object
				}
			},
			listeners: {
				'click': '_onClick',
				'mousewheel': '_onMouseWheel'
			},
			_isClosing: false,
			_transitionTiemrId: null,


			ready: function() {
				this.delegate = this;
				this._endOpeningAnimation = this._endOpeningAnimation.bind(this);
				this._endClosingAnimation = this._endClosingAnimation.bind(this);
			},


			toggle: function() {
				if (this.isOpen) {
					return this.close();
				} else {
					return this.open();
				}
			},
			open: function() {
				if (this.isOpen && !this.isClosing) return;

				this.isOpen = true;
				this._startOpeningAnimation();
			},
			close: function() {
				if (!this.isOpen || this.isClosing) return;

				this.isClosing = true;
				this._startClosingAnimation();
			},


			_startOpeningAnimation: function() {
				if (this._transitionTiemrId) {
					this._endClosingAnimation();
				}

				this._updateZIndex(true);

				var duration = this.delegate.startOpeningAnimation();

				this._transitionTiemrId = setTimeout(this._endOpeningAnimation, duration);
				this.fire('openstart');
			},
			_endOpeningAnimation: function() {
				this._transitionTiemrId = null;

				this.delegate.endOpeningAnimation();

				this.fire('openend');
			},
			_startClosingAnimation: function() {
				if (this._transitionTiemrId) {
					this._endOpeningAnimation();
				}

				var duration = this.delegate.startClosingAnimation();

				this._transitionTiemrId = setTimeout(this._endClosingAnimation, duration);

				this.fire('closestart');
			},
			_endClosingAnimation: function() {
				this._transitionTiemrId = null;
				this.isOpen = false;
				this.isClosing = false;
				this._updateZIndex(false);

				this.delegate.endClosingAnimation();

				this.fire('closeend');
			},


			_onMouseWheel: function(ev) {
				ev.stopImmediatePropagation();
			},
			_onClick: function(ev) {
				ev.preventDefault();
				ev.stopImmediatePropagation();

				if (ev.target !== this) return;

				this.close();
			},


			_updateZIndex: function(isOpening) {
				if (isOpening) {
					this.style.zIndex = Z_BASE + zCounter;
					zCounter++;
				} else {
					this.style.zIndex = '';
					zCounter--;
				}
			}

		};

		kn.KNOverlayBehavior = [kn.KNOverlayDelegate, kn.KNOverlayBehaviorImpl];

	})(self.kn || (self.kn = {}));

</script>
