@import '../../definitions/md-style.scss';

:host
{
    position: fixed;
    z-index: $md-z-overlay;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    &.is-opening
    {
        display: block;

        #card
        {
            animation: PopupMenu-opening-card .26s $ease-slide forwards;
        }
    }
    &[is-open]
    {
        display: block;
    }
    &.is-closing
    {
        display: block;

        #card
        {
            animation: PopupMenu-closing-card .35s $ease-slide forwards;
        }
    }
}
#card
{
    position: absolute;

    display: block;

    margin: 0;
    padding: 0;

    list-style: none;

    transform-origin: left top;

    border-radius: 2px;
    background: $md-grey-50;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);

    will-change: animation;
    @include md-elevation-dialog();
    @include md-font-body1();

    ::content
    {
        li
        {
            line-height: 48px;

            min-height: 48px;
            padding: 0 $md-w-gutter-2;

            cursor: pointer;
            text-align: left;
            &:hover
            {
                background: rgba(#000, .1);
            }
        }
    }
}

@keyframes PopupMenu-opening-card
{
    0%
    {
        transform: scale(0);

        opacity: 0;
    }
    100%
    {
        transform: scale(1);

        opacity: 1;
    }
}
@keyframes PopupMenu-closing-card
{
    0%
    {
        transform: translateY(0);

        opacity: 1;
    }
    100%
    {
        transform: translateY(30px);

        opacity: 0;
    }
}
