<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>tl-Pager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
	<link rel="import" href="/components/tl-TopProgressBar/tl-TopProgressBar.html">
	<style>
	html,body {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
	}
	</style>
</head>

<body>
	<tl-TopProgressBar></tl-TopProgressBar>

	<script>
	window.addEventListener('click', function(){
		document.querySelector('tl-TopProgressBar').toggle();
	})
	</script>
</body>

</html>
