<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="tl-TopProgressBar">
	<link rel="import" type="css" href="./tl-TopProgressBar.css">
	<template>
		<div id="inner"></div>
	</template>
	<script>
		/* global Polymer, kn */

		'use strict';

		Polymer({
			is: 'tl-TopProgressBar',
			properties: {
				isOpen: {
					type: Boolean,
					value: false,
					reflectToAttribute: true
				}
			},
			open: function() {
				this.isOpen = true;
			},
			close: function() {
				this.isOpen = false;
			},
			toggle: function() {
				this.isOpen = !this.isOpen;
			},
		});

	</script>
</dom-module>
